---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>About</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        
        <h1>First Blog</h1>
        <h2>My first article built with Astro!</h2>

        <p>I am working through Astro`s introductory tutorial. This is the third page on my website, and it`s the second one I built myself!</p>

        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
        </ul>
    </body>
</html>